*{
  font-family: "Merriwether", sans-serif;
}
.App {
  background-image: linear-gradient(120deg, rgba(253, 251, 251, 0.4) 0%, rgba(235, 237, 238, 0.4) 100%), url("./assets/wood_def.jpg");
  /* background-color: rgb(255,244,146); */
  border: 1px solid grey;
  font-size: 18px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  text-decoration: none;
  color: black
}

.App > * {
  padding: 20px;
}

.top-of-site {
  /* background-color: rgb(255,244,146); */
}


svg {
  height:30px;
  width: 30px;
  padding-bottom: 20px;
  margin: 0 auto;
  /* text-align: center;
  justify-content: center;
  justify-content: space-around;
  justify-content: space-between; */
}

header {
  background-image: linear-gradient(120deg, rgba(253, 251, 251, 0.4) 0%, rgba(235, 237, 238, 0.4) 100%), url("./assets/wood_def.jpg");
  text-decoration: none;
  text-align: center;
  margin-bottom: 10px;
}

.login{
  padding: 5px, 5px , 5px ,5px;
  margin: 10px, 5px,10px,5px;
  border: 1px solid black;
  border-radius: 8px;
}

form{
  margin-bottom: 10px;
}

.button-container{
  display: flex;
  width: 60%;
  justify-content: center;
  margin: 0 auto;
}
.header-button {
  align-self: center;
  display: column;
	padding: 4px, 4px !important;
  text-decoration: none;
  margin: 10px, 5px;
	border: 1px solid black;
  border-radius: 8px;
  background-color: lightgrey;
  color: black;
	font-weight: 600;
  font-family: arial;
  font-size: 20px;
}

button{
  align-self: center;
  display: column;
	padding: 4px, 4px;
  text-decoration: none;
  margin: 10px, 5px;
	border: 1px solid black;
  border-radius: 8px;
  background-color: lightgrey;
  color: black;
	font-weight: 600;
  font-family: arial;
  font-size: 20px;
}

.intro{
  background-image: linear-gradient(120deg, rgba(253, 251, 251, 0.8) 0%, rgba(235, 237, 238, 0.8) 100%), url('./assets/coffee-red.jpg');
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding: 5px 5px 5px 5px;
  /* background-color: lightpink; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 20px;
  /* opacity: 0.9; */
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  min-height: 150px;
  padding: 5px 5px 5px 5px;
  margin: 2px 2px 2px 2px;
}

.how{
  margin: 0 auto;
}

#you{
  border: 1px solid grey;
  padding: 10px 5px 5px 5px;
  justify-content: space-around;
}
#desc{
  border: 1px solid grey;
  padding: 10px 5px 5px 5px;
  justify-content: space-around;
}

Icon {
  margin: 0 auto;
  /* text-align: center;
  justify-content: space-around;
  justify-content: space-between; */
}

Icon  .coffee{
  margin-left: 10px;
  margin-right: 10px;
}

.post-login {
  /* flex-grow: 1; */
  background-image: linear-gradient(120deg, rgba(253, 251, 251, 0.4) 0%, rgba(235, 237, 238, 0.4) 100%), url("./assets/wood_def.jpg");
  /* background-color: #70bf40; */
  padding: 2px 10px 2px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.box label {
  font-weight: 700;
  margin: 2px, 25px, 2px, 15px ;
  text-transform: uppercase;
}

.box input {
  min-width: 350px;
  margin: 2px, 15px, 2px, 15px ;
}

.profile {
  text-align: center;
  margin: 2px, 5px, 2px, 5px ;
  padding: 2px, 5px, 2px, 5px ;
}

.box{
  text-align: left;
  margin: 2px, 15px, 2px, 15px ;
  padding: 5px, 15px, 2px, 15px;
}

Checkbox{
  text-align: left;
  margin: 2px, 10px;
  padding: 5px, 10px, 15px, 10px;
}

Checkbox  input {
  max-width: 10px;
  margin: 2px, 15px, 2px, 15px ;
}


.profile  button {
  text-align: center;
  margin:  5px 5px 5px 5px;
}

.profile h2{
  text-align: center;
  margin: 2px  2px 2px 2px;
  padding: 2px  2px 2px 2px;
}


.profile h3{
  margin: 0px;
  text-transform: uppercase;
}

.profile p{
  font-size: 20px;
  margin: 0px;
  padding: 2px  2px 2px 2px;
}



h1{
  margin: 2px  2px 2px 2px ;
  text-decoration: none;
  color: black;
}

.Map {
  display: flex;
  padding: 10px 10px 10px 10px;
  text-align: center;
}

.mapboxgl-marker {
  color: black;
}

.mapboxgl-popup-content {
  position: relative;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  padding: 10px 10px 15px;
  pointer-events: auto;
}

/* svg{
  opacity: 0.8;
} */

.info-window {
  width: 300px;
  height: 150px;
  border-radius: 2px;
  border: solid grey;
  padding: 1px;
  /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); */
}
.info-window p {
  font-size: 14px;
  color: green;
}


/* Global buttons */
.nav-button {
  align-self: center;
  display: column;
	padding: 4px, 4px,4px,4px;
  text-decoration: none;
  margin: 10px, 5px,10px,5px;
	border: 1px solid black;
  border-radius: 8px;
  background-color: lightgrey;
  color: black;
	/*border-radius: 10px;*/
	font-weight: 600;
  font-family: arial;
  font-size: 20px;
}

.nav-button button {
    margin: 10px, 5px,10px,5px;
}

Link, a {
  font-size: 18px;
  padding: 4px, 4px,4px,4px;
  text-decoration: none;
}

.mapchange-button{
  align-self: flex-end;
  padding: 10px, 10px;
  text-decoration: none;
  margin: .2em .2em;
	border: 3px solid black;
  border-radius: 8px;
  background-color: lightgrey;
  color: black;
	font-weight: 600;
  font-size: 18px;
}

.control-panel{
  position: absolute;
  top: 0;
  right: 0;
  max-width: 320px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
  /* padding: 0px, 5px, 0px, 5px; */
  text-decoration: none;
  /* margin: 0px, 5px, 0px, 5px; */
	border: 2px solid black;
  border-radius: 8px;
  background-color: lightgrey;
  font-size: 16px;
  color: black;
	font-weight: 600;
}

p .control-panel{
  padding: 0px, 5px, 0px, 5px;
}
/*
.control-panel {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 320px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
  padding: 5px 10px;
  margin: 5px;
  font-size: 13px;
  line-height: 2;
  color: #6b6b76;
  text-transform: uppercase;
  outline: none;
} */


/* a.content-button {
	color: red;
	text-decoration: none;
} */

a.content-button:focus,
a.content-button:hover {
	background: #B51C35;
	color: #FFFCED;
}

@media screen and (min-width: 601px) {
  .title ul {
    width: auto;
    margin-top: 0;
  }
}

/*BASE STYLES  */
body {
	margin: 0;
}

footer{
  background-color: linear-gradient(120deg, rgba(253, 251, 251, 0.8) 0%, rgba(235, 237, 238, 0.8) 100%), lightgrey;
  padding: 5px 5px 5px 5px;
  margin-top: 5px;
  display: inline-flex;
  justify-content: space-between;
  /* background-color: lightgrey; */
  padding: 5px;
  color: black;
}

input,
select,
textarea {
	font-family: 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;
	font-size: 18px;
	line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}

p {
	margin-bottom: 1.5em;
}

b,
strong {
	font-weight: bold;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
    display: inline-block;
    font-family: "Courier 10 Pitch", Courier, monospace;
    color: #ddca7e;
    background: #282c34;
	padding: .5em .8em;
    border-radius: .2em;
}

code,
kbd,
tt,
var {
	font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

sup,
sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	bottom: 1ex;
}

sub {
	top: .5ex;
}

small {
	font-size: 75%;
}

big {
	font-size: 125%;
}

/* Global layouts */
@media screen and (min-width: 700px) {
    .two-column {
        column-count: 2;
        column-gap: 2.4em;
    }
}


.site {
/* 	margin: 1em; */
}

.masthead,
.page-title,
.main-content,
.sidebar,
.footer-content {
/* 	margin-bottom: 1em; */
    padding: 1em;
    color: black;

}



.sidebar1 {
    background-color: #f49018;
}

.sidebar2 {
    background-color: #ac8658;
}



/*
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}
